VITE_MONAD_CELL_REGISTRY_ADDRESS=0xAebeE5c6C758A1176504Ab0Dd59b1Bb46fa082b1
VITE_DEXSCREENER_CHAIN_ID=monad
VITE_MONAD_EXPLORER_TX_BASE_URL=https://testnet.monadexplorer.com/tx/
VITE_MONAD_CHAIN_ID=0x279f

VITE_MONAD_RPC_URL=https://testnet-rpc.monad.xyz
VITE_WALLETCONNECT_PROJECT_ID=
VITE_ANTHROPIC_API_KEY=
VITE_MARKET_API_BASE=
